<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Swedish Pixels {% if page.title %}&mdash; {{ page.title }} {% endif %}</title>
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" media="screen, projection" href="screen.css" type="text/css">
    <link rel="stylesheet" media="print" href="print.css" type="text/css">
    <link rel="alternate" type="application/atom+xml" title="Swedish Pixels" href=masterfeed.xml">
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body>
    <header>
      
     
    <div class="wrapper content">
      {{ content }}
    </div>
    
    <footer>
     
    </footer>
  </body>
</html>