<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Swedish Pixels {% if page.title %}&mdash; {{ page.title }} {% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" media="screen, projection" href="/css/screen.css" type="text/css">
    <link rel="stylesheet" media="print" href="/css/print.css" type="text/css">
    <link rel="alternate" type="application/atom+xml" title="Swedish Pixels" href="http://feeds.feedburner.com/swedishpixels/masterfeed">
    <link rel="shortcut icon" href="/favicon.ico">

	<script src="/js-global/FancyZoom.js" type="text/javascript"></script>
	<script src="/js-global/FancyZoomHTML.js" type="text/javascript"></script>
	<script src="/js-global/jquery.js" type="text/javascript"></script>
	<script src="/js-global/badge.js" type="text/javascript"></script>

	<script type="text/javascript" src="http://use.typekit.com/arb3nzw.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-85030-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
  </head>
  <body onload="setupZoom()">
    <div id="header">
		<a href="/"><img src="/bilder/generic/logo2011.png" alt="Link to footer" title="" /></a>
		<ul id="menu">
			{% if page.title %}
				<li><a href="/">Front page</a></li>
			{% endif %}
			{% unless page.title == 'Highlights' %}
			  <li><a href="/highlights">Highlights</a></li>
			{% endunless %}
			{% unless page.title == 'Archive' %}
			  <li><a href="/archive">Archive</a></li>
			{% endunless %}
		</ul>
    </div>

 	<div id="main" class="clearfix">
      {{ content }}
    </div>
    <div id="footer-wrapper" class="clearfix">
		<div id="footer">
			<div id="bild">
				<img src="/bilder/generic/pixellogo.png" alt="Logotype" />
			</div>
			<div id="text">
     			<p>This is Swedish Pixels, a website written by <a href="http://hertze.com/english/">Joakim Hertze</a>. {% unless page.title == 'Archive' %}Older contents is available from the <a href="/archive">archive</a>.{% endunless %} Please direct all correspondence to <a href='mailto&#58;c&#111;mme&#110;ts&#64;&#115;&#119;&#37;&#54;&#53;&#100;i&#115;%68%7&#48;&#37;6&#57;%78els&#46;com'>comments&#64;sw&#101;di&#115;hpix&#101;l&#115;&#46;com</a>.</p>
				<form action="http://www.google.se/cse" id="cse-search-box">
				    <input type="hidden" name="cx" value="partner-pub-6560626682599600:79iidl-vc1c" />
				    <input type="hidden" name="ie" value="UTF-8" />
				    <input type="text" name="q" size="20" />
				    <input type="submit" name="sa" value="S&#246;k" />
				</form>
				<script type="text/javascript" src="http://www.google.se/coop/cse/brand?form=cse-search-box&amp;lang=sv"></script>
			</div>
		</div>
    </div>
	<div id="legal">
		<p>&copy; 2001-2010 Joakim Hertze. Built with <a href="http://jekyllrb.com/">Jekyll</a>, hosted on <a href="http://github">GitHub</a>.</p>
	</div>
 </body>
</html>