<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Swedish Pixels {% if page.title %}&mdash; {{ page.title }} {% endif %}</title>
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" media="screen, projection" href="/screen.css" type="text/css">
    <link rel="stylesheet" media="print" href="/print.css" type="text/css">
    <link rel="alternate" type="application/atom+xml" title="Swedish Pixels" href=masterfeed.xml">
    <link rel="shortcut icon" href="favicon.ico">

	<script type="text/javascript" src="http://use.typekit.com/arb3nzw.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
  </head>
  <body>
    <div id="header">
		<img src="/bilder/generic/logo2011.png" alt="Link to footer" title="" />
		<ul id="menu">
			{% if page.title %}
				<li><a href="/">Start</a></li>
			{% endif %}
			{% unless page.title == 'Archive' %}
			  <li><a href="/archive">Archive</a></li>
			{% endunless %}
			{% unless page.title == 'Highlights' %}
			  <li><a href="/highlights">Highlights</a></li>
			{% endunless %}
		</ul>
    </div>

 	<div id="main" class="clearfix">
      {{ content }}
    </div>
    <div id="footer-wrapper" class="clearfix">
		<div id="footer">
     		<p>This is Swedish Pixels, a website written by Joakim Hertze. {% unless page.title == 'Archive' %}Older contents is available from the <a href="/archive">archive</a>.{% endunless %}</p>
		</div>
    </div>

 </body>
</html>