---
layout: default
---
<div class="post">
  <h1>{{ page.title }}</h1>
  <div class="body">{{ content }}</div>
  <div class="signoff" datetime="{{ page.date | date: "%Y-%m-%d" }}">&mdash;{{ page.date | date: "%b %d, %Y" }}</div>
	<div class="share">
		<div class="twitter">
		<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://swedishpixels.com{{ page.url }}/" data-text="From Swedish Pixels: {{ page.title }}" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		</div>
		<div class="facebook">
			<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://swedishpixels.com{{ page.url }}/" layout="button_count" show_faces="false" width="130" font=""></fb:like>
		</div>
	</div>
</div>	