---
layout: default
---
<div class="post">
  <h1>{{ page.title }}</h1>
  <div class="body">{{ content }}</div>
  <div class="signoff" datetime="{{ page.date | date: "%Y-%m-%d" }}">&mdash;{{ page.date | date: "%b %d, %Y" }}</div>
	<div class="share">
		<div class="twitter">
			<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		</div>
		<div class="facebook">
			<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" layout="button_count" show_faces="false" width="450" action="recommend" font="arial"></fb:like>
		</div>
		<div class="digg">
			<script type="text/javascript">
			        (function() {
			          var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
			          s.type = 'text/javascript';
			          s.async = true;
			          s.src = 'http://widgets.digg.com/buttons.js';
			          s1.parentNode.insertBefore(s, s1);
			        })();
			        </script>
			        <a class="DiggThisButton DiggCompact"></a>
		</div>
	</div>
</div>	